html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Roboto,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none !important;
  transition: 0.2s;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

a:hover {
  transition: 0.2s;
}

/* hr {
  width: 90%;
} */

.col-margin {
  margin-bottom: 1rem;
}

/* .col-margin:nth-last-of-type() {
  margin-bottom: 0;
} */

.main-body {
  min-height: 100vh;
}
