.remove-row-gutter {
  --bs-gutter-x: 0 !important;
}

.app-logo img {
  width: 65px !important;
  height: 65px !important;
  border-radius: 1rem;
  background-color: rgb(241, 240, 240);
  transition: 0.5s;
  padding: 0.5rem !important;
}

.app-label {
  font-size: 16px;
  margin: 1rem;
  font-weight: 500;
}

.app-label:hover {
  color: #3a3a3a;
  transition: 0.2s;
}

.app-logo img:hover {
  cursor: pointer;
  /* transform: scale(1.1); */
  transition: 0.5s;
  background-color: rgb(31, 31, 31);
}
